/.metadata/
/ArtGallery/
/ArtGalleryProject/logs
/ArtGalleryProject/.idea
*.log
/.github

/ArtGalleryProject/.vscode
/ArtGalleryProject/documentation
/ArtGalleryProject/GEMINI.md
/ArtGalleryProject/setup-ssh.ps1
/ArtGalleryProject/appspec.yml
/ArtGalleryProject/buildspec.yml